[2020-02-26 09:43] mrchrisadams opened #2 "Use a model based on more recent peer reviewed work than the 1byte model"
I've been looking for a model that gives numbers closer to [my own experiences looking online for the energy from ICT and therefore carbon from ICT][3] than the 1byte model, but nothing has been as easy to use, and I've prioritised having _some_ discussion, compared to having the numbers that are more consistent with the work from Koomey et al.

A [new piece of analysis on the carbon brief has som

[2020-02-26 19:23] mrchrisadams commented on #2
Hey @JamieBeevor I've found another good summary to help work update the calculations, from David Mytton, formerly of Server Density, a server analytics platform.

It goes into a decent amount of detail that would be useful to check against the IEA analysis:

https://davidmytton.blog/how-much-energy-do-data-centers-use/

The bits we'd need to update to make a model that takes into account the lowe

[2020-02-27 10:13] mrchrisadams commented on #2
As an aside, rather than providing averages, I can see an scenario where organisations that know the energy mix they rely on for their infra could include this in a carbon.txt file for their domain.

Given that energy suppliers legally need to publish this to regulators in many countries anyway, I'm pretty sure it exists, and as we all know, there's a real need for more transparency in how we powe

[2020-02-28 15:04] soulgalore opened #8 "Remove database name from package and use the full path"
Hi @mrchrisadams so about keeping the actual file name in the package.json file: The idea of that was to keep the actual database in the same module. Then for example when you published a new version of it, you only need to change the name and the publish the package.

As a user of the API, I think its cleaner if I would give the full path and name to my local database, that way I think cleaner to

[2020-02-28 15:21] mrchrisadams commented on #8
TBH, I've just been thinking about two separate versions too, as I wasn't all that happy with the single module doing both like we have it.

I went a bit down a rabbithole looking at lerna and stuff to see how best we could do that, but I totally support this.

[2020-02-28 15:25] mrchrisadams commented on #8
So, we're thinking something like this right?

- `hosting.js` - just the API
- `hosting-db.js` - uses a local database

Right? I suspect the API is likely to be used more, and will have the more update info, so it would be good to force an API call from the db module in some cases, but, it's not a thing I'm religious about.

[2020-02-28 18:16] soulgalore commented on #8
Yes exactly. I updated the PR and it passes, so please have look when you have time. If it passes your eyes it would be great if you could push a new version to npm, then I can update the PR in sitespeed.io by inlcuding the latest version of the database and we are ready to merge :)

[2020-02-29 07:46] soulgalore commented on #8
Done

[2020-02-29 07:46] #8 closed

[2020-02-29 07:51] soulgalore opened #11 "Functions in co2"
Hi @mrchrisadams so I haven't checked before but the [co2 file](https://github.com/thegreenwebfoundation/co2.js/blob/master/src/co2.js) include a lot of sitespeed.io or at least pagexray functionality. I'm, thinking do you really want that? For other implementers the key function is getting the co2 per byte.

[2020-02-29 12:47] JamieBeevor commented on #2
@mrchrisadams I'll take a look at your questions but I was just going through what you've written here and your conversion from KWH_PER_BYTE to KWH_PER_GB (which looks correct to me) comes up with different numbers to the CB chart you linked to. The chart gives the Shift figures as 0.072kWh/Gb for data centres (vs your 0.77) and 0.488kWh/Gb for network (vs your 1.63). What's going on?

[2020-02-29 12:51] mrchrisadams commented on #11
I was thinking about this too - I think the xray page representation is really helpful, and would be useful for a bunch of other tools I'm working on, like [greentrace](github.com/thegreenwebfoundation/greenhouse/).

Specifically, I was thinking of using pagexray to act as a useful tool for taking har files, and building traceroute maps for every domain listed in a pagexray object, showing the 'gr

[2020-02-29 12:58] mrchrisadams commented on #2
Yeah, I made a mistake here. I was using the wrong figure for transfer - they use averages across all the kinds of transfer, and I was looking at wifi.

https://github.com/thegreenwebfoundation/co2.js/commit/8751a2a9320c2a30daaabbd1d95b0a622449db43

As for the 0.77 figure, I think it's an error I introduced. I've made this fix in a new branch where I started work on this.

https://github.com/thegr

[2020-03-02 09:14] mrchrisadams commented on #2
Awright - I've merged in the fix to the embarrassing error around 0.77 and 0.72.

That likely leaves this issue here:

For number two, you could make the argument that the big tech firms are running on 50% green power and so on.

My understanding is that they are largely based on a _market based_ reporting convention where you get to claim things are green if you burn coal, but buy certificates fr

[2020-03-02 13:40] JamieBeevor commented on #2
2.

I also have misgivings about allocating zero carbon emissions to conventional green tariffs so am very interested to check out that paper. I think the GHG Protocol is getting this wrong and it means that there's a risk of companies (and householders) taking their eye off the demand reduction ball. The weakness of the REC/REGO approach to greening an electricity tariff is one aspect but also in

[2020-03-02 13:49] JamieBeevor commented on #2
1. I don't think the 33gCO2e/kWh figure that Ecotricity quotes comes directly from Ofgem. I think it's their analysis of data in the REGO database which is managed by Ofgem. I presume they've taken the mix of UK renewables and then applied lifecycle emission factors to that mix to come up with the 33g figure.

Globally that mix is going to be different. Also you won't be comparing like with like a

[2020-03-02 15:50] mrchrisadams commented on #2
Wow, the rabbit hole keeps getting deeper, doesn't it?

So, to use the IEA number for comparison it sounds like I'd need the equivalent non-lifecycle figure for renewables in the wider sense of the term "renewables", right?

I think the Ecoinvent database has this, but I think it's in the form of loads of figures that are likely to be extremely specific to a kind of solar panel, or wind turbine, t

[2020-03-02 17:55] soulgalore commented on #11
Ok, lets close this for now and then we can update docs in coming PRs.

[2020-03-02 17:55] #11 closed

[2020-03-03 10:02] mrchrisadams commented on #2
Okay, more digging, and a final sanity check.

Previously all the messaging I read around the one byte model, and in particular its use when talking about video and devices, and holding onto them longer made me think it was also including the embodied emissions from making the devices.

You can see one of the videos in English as an example below:

https://www.youtube.com/watch?v=JJn6pja_l8s&featu

[2020-03-03 10:24] JamieBeevor commented on #2
Sounds reasonable to me.

I think using the in-use emissions for power generation makes sense. You could potentially add in an embodied/upstream carbon component to the calculation as good quality data emerges.

Regarding the in-use emissions of renewables, they are all zero rather than very close to zero except, arguably, biomass. I say arguably because biomass is considered by governments to be

[2020-03-03 10:26] mrchrisadams commented on #2
Awesome, thanks Jamie.

I feel like I have enough to make the final changes now, publish to npm, and crucially explain it in a README or blog post…

[2020-03-03 10:31] mrchrisadams commented on #2
@all-contributors please add @JamieBeevor for advice on implementing the 1 byte model

[2020-03-03 10:56] mrchrisadams commented on #2
Whoops. Lets' try this again.

@all-contributors please add @JamieBeevor for ideas on how best to use the different models for estimating carbon emissions

[2020-03-04 11:00] mrchrisadams commented on #2
I've heard back from George Kamiya. With some luck we'll have a call next week, and I'll add a few notes here.

Once I have that, I think I'll share a summary to the [ICT4S mailing list][ict4s-mail], to see what the profs think (it's a good group, and full of proper sustainability and tech boffins who are writing the papers we all cite), then I think we should have a sensible defensible basis for

[2020-03-07 21:17] soulgalore opened #20 "Remove better-sqlite3 dependency by exporting the data as JSON?"
Hi @mrchrisadams so I think I was wrong about using sqlite. In my case for sitespeed.io it adds a lot of overhead when I install sitespeed.io. Building the extra dependencies with node-gyp is slow. And I also think it makes co2.js dirtier for others to use.

My mine concern is privacy. Actually the exported database could be only the domain name in a fat JSON file? That would probably gzip quite o

[2020-03-08 10:15] mrchrisadams commented on #20
Hi Peter!

Given the use we're making right now, I think there's a few directions we could go in.

## Represent just the data structure we use right now for querying

Right now, we're using SQLite to do a look up to see if the given url is the database, and just returning true or false.

We could probably pare this back down to Set, which I think we'd need to represent as an Array of strings in JS

[2020-03-08 10:59] mrchrisadams commented on #20
Okay, using the precompiled version does speed up the build on Travis, taking it from around 5 minutes total, to 2 and a half minutes total:

|build|link|time|
|----|---|---|
|compile on install| https://travis-ci.org/thegreenwebfoundation/co2.js/builds/657707157| 2 min 40 sec|
|precompiled| https://travis-ci.org/thegreenwebfoundation/co2.js/builds/659772022| 4 min 53 sec|

If we used this, we'd n

[2020-03-08 11:58] soulgalore commented on #20
Yes the middle ground would work but it also means we need to get rid of the sqlite dependency in co2.js? For me that dependency  kind of dirty because it will add upp on the dependency tree, and for sitespeed.io users I think either use the json or configure to use the API is just fine. And I think to make other tools also adopt co2.js, it will be easier if it just depend on debug? That way it's

[2020-03-09 09:34] mrchrisadams commented on #20
Hmm… the more we discuss this, the more it makes me think that having separate modules on npm makes sense.

One with the database and sqlite, and one with the slimmed down code as described here, for including in stuff like sitespeed and so on.

[2020-03-09 09:35] mrchrisadams commented on #20
I'll likely spend a bit of time tomorrow on making these smaller modules, and submit a PR for you to look over.

Thanks amigo 👍

[2020-03-10 08:24] soulgalore commented on #20
Cool. I think there's one more issue that would help when its moved. Now you need have `python `and `make` installed to install co2.js. That works fine on your local dev machine but if you wanna do it in a slim Docker container you need to install python/build-essential to install co2.js. Not a super big deal but for example sitespeed.io works without those dependencies today. Let me know if there

[2020-03-10 08:51] mrchrisadams commented on #20
Hey @soulgalore, I think that's down to needing to compile sqlite from `better-sqlite`.

If I get rid of that, proceed with the separate sqlite-based npm package, and replace it with the JSON list of domains, I think that would remove the pythonic dependencies.

That sound about right to you?

[2020-03-10 09:35] soulgalore commented on #20
Yes perfect :D

[2020-03-15 09:08] mrchrisadams commented on #20
OK, there's now a url2green module, that for the time being has the database and the JSON packaged in that you might need to run queries against.

You can use this JSON in this co2 package.

I'm keeping it out of this npm package for the time being - I think it's better to have a stable url to always be able to fetch the latest snapshot from, and I'm working on this next.

https://www.npmjs.com/pa

[2020-03-15 18:26] soulgalore commented on #20
Great lets close this now!

[2020-03-15 18:26] #20 closed

[2020-08-16 17:56] dvelasquez commented on #2
Hi guys! Loving the work you have been doing here 👍 . I started writing a [npm package](https://github.com/dvelasquez/bytes-to-co2) that basically does the same, the only difference is that I'm using the co2 intensity of the [European Environment Agency](https://www.eea.europa.eu/data-and-maps/daviz/co2-emission-intensity-5#tab-chart_2) mostly out of necessity (at work most of the sites are in Eur

[2020-08-16 18:17] mrchrisadams commented on #2
hi @dvelasquez thanks - that would be great, but I think I would need some help understanding the data there, and when it the data runs up to, before I say it's a really good idea.

The data I see on the link you shared reports up to the mid 2010's for Germany, which would mean that it will likely overestimate the carbon intensity of the grid for many countries that are further along with decarbon

[2020-08-16 18:22] dvelasquez commented on #2
Thanks for your response @mrchrisadams
I've sent an email to mapdata to see if I can use their data from the API and what is the license of the data. Otherwise with a little more time I could write something on NodeJS using the python scraper as a starting point to get the data by ourselves.
Since the data doesn't change much, a "hard api" (a JSON file) could be created yearly and cached in a CDN

[2020-10-16 13:27] jepster-dk opened #27 "Emissions can't easily be calculated in frontend framework"
## Issue

When we worked on the [Low Impact Website](https://github.com/Organic-Basics/ob-low-impact-website), we struggled a while with getting emissions calculations working on the frontend.

The issue mainly seemed to be that `fs` is not available in browsers, yet co2.js attempts to use it when following the instructions in the README.

## Solution

There are a couple ways of getting around thi

[2020-10-16 13:55] mrchrisadams commented on #27
Hah, I had no idea anyone was actually using this, you've made my day @jepster-dk  :)

I won't be able to get to this weekend, but I totally agree with the README update.

FWIW, in the later grid-intensity module I've worked on with some other cats, there's an approach that might work here.

Over there, we're using rollup to make browser specific builds, to account for node and browsers having dif

[2020-10-16 14:02] jepster-dk commented on #27
I'm glad to hear! Love to make Fridays even better 🍻

I hadn't heard of the grid-intensity project, so thanks for sharing! We've actually used the same idea on our Low Impact Website, where we adapt the site to the carbon intensity. However we were under the same restriction of only being able to get UK data, since we used the carbonintensity.org.uk API.

I'm in talks with the ElectricityMap guys

[2020-10-29 11:54] mrchrisadams commented on #2
there's a new report today that gives figures for 5G connectivity, in terms of CO2/GB.

Also, there's a helpful diagram in the paper that gives us an idea of where the lion's share of the emissions come from in the per gigabyte figure. they define the networks like so:

<img width="722" alt="Screenshot 2020-10-29 at 12 24 28" src="https://user-images.githubusercontent.com/17906/97563994-322d4e80-1

[2020-10-29 19:01] mrchrisadams commented on #2
It's been published now officially  - https://www.ifi.uzh.ch/en/isr/news/news/5G-study-published.html

[2020-10-30 07:11] dvelasquez commented on #2
Hey @mrchrisadams coming back to you about the Electricity Map data.

I've spoke to them (Tmrow.com) and they told me that I could use the data for Open Source projects. The data they are showing is real time, so he suggest me to get the data every hour and make a daily average (since they don't have any type of averages).

I've been doing that since then here: https://github.com/dvelasquez/electr

[2020-10-30 07:21] mrchrisadams commented on #2
Sweet, that's awesome news!

Lol, we've been working in parallel on grid intensity too!

https://github.com/thegreenwebfoundation/grid-intensity 🤣

I didn't realise the data was available at a country level - we only had the UK feed, but that's super useful!

Are you in the https://climateaction.tech slack? I had tried to learn how to use lerna, but totally failed each time. We should totally chat

[2020-10-30 07:26] mrchrisadams commented on #2
Also @dvelasquez , you might like this - here's the online magazine, _all about sustainability and digital_, that a few of us launched this week, using a bunch of these ideas:

https://branch.climateaction.tech/

And this piece in particular might interest you - we're [incorporating carbon awareness into the design of the site itself](
https://branch.climateaction.tech/2020/10/15/designing-branch-

[2020-10-30 08:12] dvelasquez commented on #2
@mrchrisadams Hey, I haven't join the slack (yet). I just signed up there :D

I'm happy to help, let's move the talk there then ;)

[2020-11-11 13:09] mrchrisadams commented on #2
There's some newish numbers from [Umsweltbundesamt = the German environment ministry](
https://www.umweltbundesamt.de/en/press/pressinformation/video-streaming-data-transmission-technology).

They give a figure of 2Gb per hour, which we could turn to a figure per byte:

<img width="706" alt="Screenshot 2020-11-11 at 14 03 12" src="https://user-images.githubusercontent.com/17906/98814987-c5c03f80-2

[2020-11-11 13:10] mrchrisadams commented on #2
There are two papers coming out soon: (next month, I believe):

[2020-11-15 18:00] mrchrisadams opened #29 "Update code to use the WHATWG api for"
In co2.js we currently use an old API for [checking the domain of an url](https://github.com/thegreenwebfoundation/co2.js/blob/master/src/co2.js#L89), inside the `perContentType` method:

[code]

As Danilo highlighted, this doesn't work with the newer versions of nodejs, and I [think it was deprecated in node 11](https://nodejs.org/api/url.html#url_url_parse_urlstring_parsequerystring_slashesdenot

[2020-11-27 13:18] mrchrisadams commented on #2
George Kamiya from the IEA got in touch today to share some pointers to some more research:

I _think_ these numbers are more applicable for long running video connections than the more bursty connections of the web, but it's worth bearing in mind.

[2021-01-01 18:23] mstaschik opened #32 "1byte model values"
in the [1byte.js](https://github.com/thegreenwebfoundation/co2.js/blob/master/src/1byte.js) your parameters are:

const KWH_PER_BYTE_IN_DC = 0.00000000072;
const KWH_PER_BYTE_FOR_NETWORK = 0.00000000488;

In the [1byte model](https://theshiftproject.org/wp-content/uploads/2019/10/Lean-ICT-Materials-Liens-%C3%A0-t%C3%A9l%C3%A9charger-r%C3%A9par%C3%A9-le-29-10-2019.pdf) the values are:

7,20E-11 ==>

[2021-01-01 20:41] mrchrisadams commented on #32
Hmm… I think that was an error on my part - sheesh 🤦 .

I'll push a new version tomorrow, and update the changelog accordingly - thanks for flagging this.

I also think it's might be better to use this `000_000_000_072` kind of notation in future, or the `7.2e-11` than all those zeros, as they're both valid javascript, and much more readable.

If you wanted to make a pull request with this change,

[2021-01-01 20:58] mrchrisadams commented on #32
**Note to self:** I realise this observable notebook below was using the wrong values too (I've now updated it). For all I can remember I might have actually copied it from that notebook into the js file back in 2019.

It would likely make sense to use the npm package in case others stumble across this.

https://observablehq.com/@mrchrisadams/carbon-footprint-of-sending-data-around

[2021-01-03 13:53] mstaschik commented on #32
Hi Chris, thank your for the quick response and the fix! :-)

[2021-01-15 18:25] martin-laurent commented on #2
Hey everyone,
I've been following this conversation. My use case it to compute electricity consumption for transmissions between data centers (excluding end-users consumption, thus excluding 4G traffic for example)

I have read a number of articles on the subject but if there was one that represents well the scale of the problem it would be this one [Electricity Intensity of Internet Data Transmis

[2021-03-15 16:04] jepster-dk commented on #32
@mrchrisadams, is this something that's been merged and deployed yet somewhere?

[2021-03-15 16:05] #27 closed

[2021-11-22 09:15] mrchrisadams opened #47 "Add automated way to fetch a local snapshot of domains"
We present daily snapshots here of the green domains dataset, using datasette.

https://datasets.thegreenwebfoundation.org/

We also have an endpoint for fetching the compressed dumps here as well:

https://api.thegreenwebfoundation.org/admin/green-urls

Having an npm script to fetch these would help to make it easy to perform fast local lookups instead of hammering the API all the time.

[2021-11-22 12:21] mrchrisadams opened #50 "Mock tests that make unnecessary network calls"
This repo uses Jest, for tests and like considerate developers, we'd like to have a decent test suite.

Sadly, the test suite makes a bunch of network calls that it doesn't really need to.

I spent about an hour this morning faffing with Jest, and trying to make sense of how to do mocks, and I've even implemented this on other projects, but this morning I couldn't get it together.

If we could cha

[2021-11-23 07:35] soulgalore commented on #50
@mrchrisadams I can have a go later this week. I would change so `hosting.test.js` test against the local database and then only mock for testing the actual API path `hosting-api.test.js`?

[2021-11-23 08:30] mrchrisadams commented on #50
Thanks Peter, I'd really appreciate that 👍

I think `hosting.test.js` is testing functionality that we already test in `hosting-api.test.js` anyway, so having tests that exercise the code that calls the API there too isn't actually adding much value - I think we could just test that it's calling methods on the hosting API object.

I'm happy to defer to you on this one though, as I learned a bunch

[2021-11-26 07:46] soulgalore opened #54 "Change master branch to main (or something else)?"
https://stevenmortimer.com/5-steps-to-change-github-default-branch-from-master-to-main/

[2021-11-28 06:40] #50 closed

[2021-11-28 06:52] mrchrisadams commented on #54
Thanks for these steps Peter - we're now using `main` in this repo. I'll check about the the github actions too now

[2021-11-28 06:54] mrchrisadams commented on #54
Ah, the actions were already set to check for `main`. I think that would explain why #53  hadn't triggered a build

[2021-11-28 06:54] #54 closed

[2021-11-28 07:46] mrchrisadams opened #56 "Include model used for website carbon, ecoping, and the rest"
This model is used in a number of places:

https://sustainablewebdesign.org/calculating-digital-emissions/

There's a bit more research needed for what I was referring to as the Green Byte Model in in #2, but it would be useful to have the different models in used available, so you can choose between:

- the shift project model
- one containing the values above
- whatever model the green web found

[2021-11-28 19:45] mrchrisadams commented on #32
@ada-ada-ada-art you can download this with the fix from npm - co2.js 0.8.0 should now include it. Thanks again for raising the issue 💚

[2021-11-28 19:45] #32 closed

[2021-12-14 09:46] drydenwilliams commented on #56
Thanks for this @mrchrisadams great detail, I will try and have a look through properly in the next week.

[2021-12-16 15:25] mrchrisadams commented on #56
Dryden's PR for this is at the link below.

I'll flesh out a few more acceptance criteria so it's clearer what it would make sense to include

https://github.com/thegreenwebfoundation/co2.js/pull/58

[2021-12-16 20:28] mrchrisadams commented on #56
These are the numbers from the website carbon API, which I understand to be older than model outlined at the [digital emissions page](https://sustainablewebdesign.org/calculating-digital-emissions/). These are the key constants they've been using, which the new information supersedes.

[code]

As I understand it, Websitecarbon's averages weren't based on the HTTP Archive, but on the stored values

[2021-12-17 08:40] drydenwilliams commented on #56
Morning @mrchrisadams, I've just asked Tom about the transfer size they used so interested to hear and keep you posted. I think we should use the hardcoded ones in your example (which I've added in my PR) but not all of them are needed anymore. We should make them dynamic (we would need this on EcoPing to use this model)... but could lead to different calculations everywhere, but at least they mak

[2021-12-17 11:18] mrchrisadams commented on #56
@drydenwilliams can you let me know how you're handling this when a website makes requests to multiple domains in multiple places?

We originally implemented the "per byte" approach to provide a low level way to think about data transfers, and now that I've seen the examples and PR, I think the SWD model you're using is actually working at a higher level than we were.

For example, the CO2 js appr

[2022-02-08 09:30] mrchrisadams opened #60 "Add README about the the SWD is measuring and guidance on using it"
The SWD model combines work form one paper, and combines it with figures from the IEA for carbon intensity in 2019.

### Using an attributional model to work out the share of global energy usage based on the share of data transferred to use a website

I've added a few diagrams here to make it easier to visualise:

https://docs.google.com/presentation/d/12rN3vbhmefFEIaFHSIJ8wjfV0PZpQBPf9T-93WUpCOg/

[2022-02-08 10:03] drydenwilliams commented on #60
Thanks for your comments and write-up @mrchrisadams. To summaries you points you propose the change of:
- Update total network transfer to 3048 EB
- Update global intensity to 440 grams/kWh
Hope I've understood that correctly?

[2022-02-08 12:40] mrchrisadams commented on #60
Yes for the carbon intensity (I'd be specific about carbon intensity, as there are other things you have intensity for like water usage, and so on).

I'm not actually sure about the network transfer one yet - for carbon intensity, you're comparing the numbers from the same source (the IEA), just from later dates.

For the network transfer, you'd be comparing the transfer number in the paper for th

[2022-02-09 16:56] mrchrisadams opened #61 "Notes for recognising the use of fossil free energy"
The Green web foundation API and datasets have historically had a really binary green/grey definition, which is easy to use, but hides a colossal amount of detail.

Tor example there's a whole issue around how you credit for making the commitment for green energy - it's easy to assume it's a single company doing all the work to decarbonise because we might be applying the mental model of 'buying g

[2022-03-30 09:19] mrchrisadams commented on #60
OK, slight change of plan.

Rather than the IEA data for carbon intensity, I think using the data from Ember is wiser, as it's very open, the numbers are comparable.

![Screenshot 2022-03-30 at 11 16 53](https://user-images.githubusercontent.com/17906/160797057-c31b06d2-5463-4791-9432-528e471b0424.png)

Because the licensing is open, we could _totally_ have by country figures updated on an annual

[2022-03-30 09:54] mrchrisadams opened #64 "Add country level data from Ember to replace IEA figures"
Ember's global electricity report 2022 was released today.

https://ember-climate.org/insights/research/global-electricity-review-2022/

This has openly licensed country-level data on power generation and carbon intensity of electricity, from 2021 all the way back to 2000, that is nice and easy to download, and explore here:

https://ember-climate.org/data/data-explorer/

The data is licensed CC-B

[2022-03-31 19:38] mrchrisadams commented on #60
Closing this with #65. I think replacing the modelled figure of 2444 exabytes with the larger one of 3048 exabytes from Cisco's latest report is one we're better off delaying til we've had a chance to check that they refer to the same idea of what the 'network' entails.

[2022-04-01 07:25] mrchrisadams commented on #61
OK, some interesting news in the context of this issue.

This notion of "coverage" looks like it's quickly becoming a standard.

https://www.canarymedia.com/articles/corporate-procurement/can-24-7-carbon-free-energy-become-a-global-standard

[2022-04-01 17:45] mrchrisadams opened #68 "Review 1byte model and update implementation."
The original version implemented based on the 1byte model deliberately left out bits that you wouldn't typically have access to when making calculations, because they were time based, like the duration of transfer used on a device.

This was originally derived by looking at the hourly consumption of a device, then dividing that number by the fraction of time a transfer took.

This issue [here on t

[2022-04-02 16:51] mrchrisadams commented on #56
I'm closing this, as we now have the SWD implemented largely with tests as outlined in the issues #67 and #58.

[2022-04-02 16:51] #56 closed

[2022-04-02 17:59] mrchrisadams commented on #64
I've made some progress with #69 here.

We don't have these added as constants yet though, but I'm not sure if we'd need them.

[2022-04-07 18:07] wisefool opened #70 "Error running example code [TypeError: CO2 is not a constructor]"
Hello,

I'm attempting to run co2.js as a server-side module and cannot get the example code to run.

I'm using the example verbatim:

[code]

However the line `const co2Emission = new CO2();` gives the following error when I attempt to run:

[code]

 Also attempted to test on npm.runkit.com and it gives the same error:

<img width="662" alt="runkit_error" src="https://user-images.githubuserconten

[2022-04-08 08:03] mrchrisadams commented on #70
hi @wisefool  - sorry about that! I see the error here now.

This here shows a test demonstrating how it's intended to work:

https://github.com/thegreenwebfoundation/co2.js/blob/v0.8.0/src/co2.test.js

And for the SWD module in the new release, 0.9 these tests should show some expected use:

https://github.com/thegreenwebfoundation/co2.js/blob/v0.9.0-0/src/sustainable-web-design.test.js
https://g

[2022-04-08 13:40] mrchrisadams opened #71 "Make this easy to use on browsers and node from a simple import"
Right now,  have a library that's a bit fiddly to use for both node and browsers, because we assume one runtime (i.e. nodejs) in places where we can't always make that assumption.

### the problem

We've had reports of imports with newer versions of webpack returning this error:

<img width="816" alt="Screenshot 2022-04-08 at 08 10 17" src="https://user-images.githubusercontent.com/17906/162605114

[2022-04-08 14:31] wisefool commented on #70
Hey, that's great. Thank you. I thought I had tried CO2.co2() but perhaps I had the capitalization wrong.

Everything works as expected now.

[2022-04-08 14:31] #70 closed

[2022-04-10 06:20] mrchrisadams commented on #71
I'm linking to PR #72 to show some ongoing work.

[2022-04-10 11:12] mrchrisadams commented on #71
Hi @drydenwilliams  - what would the smallest test case be to replicate this error?

i.e. something like

1. start a project
2. install webpack CLI on computer
3. make entrypoint file importing/requiring CO2.js a dependency
4. run webpack with this entrypoint file as the input?

I've used webpack on previous projects, but I've tended to lean towards rollup.js for managing a build pipeline, as it's

[2022-04-20 08:33] mrchrisadams opened #75 "Update constants to use gigabytes not gibibytes"
Some work was started on PR #66,  which I merged in mistakenly last night when tired.

See the link below:

https://github.com/thegreenwebfoundation/co2.js/pull/66

Right now the build is broken, which means making new releases is a pain, but it makes more sense to have consistent figures of 1000 * 1000 * 1000 for gigabytes.

This issue

Acceptance criteria:

- [x]  base 2 calculations (1024) for

[2022-04-21 18:35] drydenwilliams opened #76 "Default carbonIntensity checking fallbacks"
I've seen there have been changes to the SWD method which have been suddenly merged in. Why is this? Can it go in PR review beforehand? Some of the additions are a little confusing. And seemingly change the calculations quite a bit.

1. Why do we need this logic? We have a default value set `carbonIntensity = GLOBAL_INTENSITY` so it will fall back to global intensity anyway. https://github.com/the

[2022-04-21 18:38] drydenwilliams commented on #76
When did `co2byComponent`, `energyPerByteByComponent`, `perByte` get merged in? @mrchrisadams

[2022-04-22 09:16] mrchrisadams opened #77 "Introduce just enough typescript"
This issue is here to collate links or discussion about how introducing Typescript in a way that doesn't raise the bar for contribution too far so only people who are really comfortable with Typescript can contribute.

So far I've been referring to [JavaScript for impatient programmers](https://exploringjs.com/impatient-js/toc.html), as a guide for using javascript on the project , as it seems to

[2022-04-22 09:21] mrchrisadams commented on #76
hi Dryden,

See PR #67 - about three weeks back.

https://github.com/thegreenwebfoundation/co2.js/pull/67/

These changes were designed to allow support for existing clients, like sitespeed, and lighthouse.

There's some discussion about adding this to the HTTP Archive runs, which may need to consume HAR files of the loaded pages, rather than doing a re-run of all the millions of pages crawled as

[2022-05-12 07:36] drydenwilliams opened #88 "Remove default lines"
https://github.com/thegreenwebfoundation/co2.js/blob/8901d1d5c730240a5023ec1a913bb41dc559d2db/src/sustainable-web-design.js#L100

We can remove these lines as `carbonIntensity` is set in the function args `carbonIntensity = GLOBAL_INTENSITY`

[2022-06-28 07:18] mrchrisadams commented on #77
I'm moving this out of the next release.

TBH, I'm not convinced that adding Typescript adds enough to justify how much it raises the bar for making contributions.

There is a path for gradual typing to make it into the language proper listed below, and a lot of the benefits we can get from simply using jsdoc on functions, which is good practice anyway.

https://github.com/tc39/proposal-type-annot

[2022-06-28 07:20] mrchrisadams commented on #71
The work going into the v10 branch largely delivers this.

See pull request #92  for more.

https://github.com/thegreenwebfoundation/co2.js/pull/92

[2022-06-28 07:48] mrchrisadams opened #94 "Switch default to use SWD model instead of older onebyte model"
Right now, while we have the Sustainable Web Design module, we default using to the earlier created 1byte model for CO2 calculations.

So when you do this:

[code]

...you're using the 1byte model from the Shift Project.

#### Making the change.

We need to change this code so default model is no longer the `Onebyte` one, and instead the SWD one:

[code]

This would mean when we import the CO2 mod

[2022-07-01 12:37] mrchrisadams commented on #75
Resolved with #93

[2022-07-01 12:37] #75 closed

[2022-07-05 05:34] fershad commented on #94
@mrchrisadams I'll assign this to myself and work on it this coming week.

[2022-07-05 05:40] fershad commented on #94
![](https://github.trello.services/images/mini-trello-icon.png) [CO2.js - Switch default to use SWD model instead of 1byte model](https://trello.com/c/lnwwngVg/35-co2js-switch-default-to-use-swd-model-instead-of-1byte-model)

[2022-07-05 15:32] #71 closed

[2022-08-02 18:01] #29 closed

[2022-08-09 08:05] mrchrisadams opened #97 "Add country level data for marginal intensity from the UNFCCC"
I've just come off a call with the UNFCCC about use of the IFI marginal intensity figures they had on their website.

There is currently no provider of marginal intensity open data at present, but after a series of calls, I can now confirm that we _can_ indeed use this data and publish it. The data is linked below, but it likely needs a few small changes for it to be usable. I've outlined a few st

[2022-08-12 09:36] mrchrisadams opened #98 "Revise the numbers we pass in tests to make it easier to identify unexpected results"
The tests we have for checking in put and output in our models calculate figures to high levels of precision, that use numbers that themselves are long strings of numbers, where it's not obvious where they come from. Most of the time, we check if a number is *exactly* matching the number we have given.

This contributes to our tests being brittle and hard to compare to related work in spreadsheets

[2022-08-23 16:52] exortech commented on #61
Hey @mrchrisadams - assuming that you're looking for feedback on this, I'll just add my 2c. I imagine that a big consideration is what data the hosting platforms have readily available to provide to GWF.

From reviewing the sustainability claims of ~40 different web hosts, I've found that there are a few common claims. In terms of coverage, normally there's a claim as to the % of their electricity

[2022-08-25 02:41] fershad commented on #94
#100 has been created to address this issue.

[2022-08-31 04:40] fershad commented on #97
![](https://github.trello.services/images/mini-trello-icon.png) [Include EMBER and UNFCCC data in CO2.js](https://trello.com/c/vcBJO5ig/69-include-ember-and-unfccc-data-in-co2js)

[2022-08-31 04:41] fershad commented on #64
![](https://github.trello.services/images/mini-trello-icon.png) [Include EMBER and UNFCCC data in CO2.js](https://trello.com/c/vcBJO5ig/69-include-ember-and-unfccc-data-in-co2js)

[2022-08-31 07:17] fershad opened #101 "Provide a way to surface system segment level carbon estimates"
Currently, CO2.js can be used to calculate carbon estimates for an entire system. In the case of the OneByte model that is data centers and networks. For the Sustainable Web Design (SWD) model, this covers data centers, networks, user devices, and production.

Ideally, there should be a way for developers to easily get carbon estimates for each individual segment. There are currently functions in

[2022-08-31 08:08] mrchrisadams commented on #101
hey @fershad I think this could plausibly be begun without waiting for the marginal intensity work in #97, as there are a couple of python scripts that could be converted to js ones as we discussed.

WDYT?

https://github.com/thegreenwebfoundation/co2.js/pull/69

[2022-08-31 08:43] fershad commented on #101
I reckon we could make a start on it, though I'll be prioritising the Ember & UNFCCC data since it'll be mentioned in the Branch article.

[2022-08-31 10:54] mrchrisadams commented on #101
Good point - the datasets take priority 👍

[2022-09-02 03:09] fershad commented on #94
This issue was merged with #100.

[2022-09-02 03:09] #94 closed

[2022-09-08 08:30] fershad commented on #64
#69 has been merged which adds this data to the library. Next steps will be:

- Provide and easy way to import the data for use
- Provide an API to make using the data _even_ easier

[2022-09-12 07:36] mrchrisadams opened #104 "Format output js for the data files"

[2022-09-12 07:48] fershad commented on #104
To make it easier to read and share the marginal/average intensity data, we should provide a formatted version of the JS and JSON files generated as part of #102 and #100.

A minified version should also be retained to facilitate importing the data into CO2.js at a later time.

[2022-09-12 07:52] fershad commented on #104
This can be done with Prettier. Leaving this gist as a reference https://gist.github.com/Mohamed3on/840b34ecb7e9abf06ace035183b7f1fc

[2022-09-21 12:10] inod opened #105 "Please include the dist files"
Downloading and installing npm, all the toolchain required and dependencies, and then building the dist files is wasteful, if all I want to do is to start experimenting with the dist/iife file you mention in README.md.

Is there a technical reason you don't include the dist directory?

[2022-09-22 03:10] fershad commented on #105
@inod good point, thanks from bringing this up. I don't see any reason why the `/dist` directory cannot be committed to git as well. As you say, having those files available would let folks start using CO2.js without NPM at all.

Let's just check with @mrchrisadams if there's any reason why `/dist` was excluded from git originally.

[2022-09-22 21:41] mrchrisadams commented on #105
hey folks, I can't remember specifically, but these are two reasons I can remember:

1. it seemed a bit redundant to check-in generated and minified code, when CDNs already host the files for playing around with already. I've linked to some examples below
2. Previously, I've tried to keep generated code out of projects if I can - I've found it would result in smaller and slightly easier to read co

[2022-09-23 04:42] #104 closed

[2022-09-23 04:43] fershad commented on #97
Update merged with #102. Happy to close @mrchrisadams ?

[2022-09-23 04:46] fershad commented on #64
Okay to close this @mrchrisadams ? The import & API items mentioned above can be tracked in separate issues (import is already in #106)

[2022-09-23 04:55] fershad commented on #105
Thanks @mrchrisadams. As you mention, the output in `dist` is for machines, and it would be hard to us to verify that it's been updated correctly before merging a PR as well.

@inod do the unpkg and/or jsdelivr suggestions work for you? I can put these into the docs & readme over the weekend.

[2022-09-24 22:04] mrchrisadams commented on #64
Hi @fershad , yeah, this is good to close.

I'll close it, and add a few notes to #106

[2022-09-24 22:04] #64 closed

[2022-09-25 16:16] inod commented on #105
Thank you very much @fershad and @mrchrisadams, I was able to use the linked built js from jsdelivr successfully.

[2022-09-26 02:45] fershad commented on #105
Added to the readme in 170400d, and updated on the docs site too in https://github.com/thegreenwebfoundation/developer-docs/commit/3bcf89d4ec0321acc83e18a7718e2c6877a9d7e3.

[2022-09-26 02:45] #105 closed

[2022-09-28 19:46] mrchrisadams commented on #97
Hi @fershad  - I think the only thing we need left to close this is to be a explicit about the licensing terms of for the UNFCCC data.

We have the go ahead to publish this ourselves, as open data, but as part of the open data triage process we did, we said we'd make sure we added a similar disclaimer about the use of the datasets, along with some info about origin of the underlying data. We do th

[2022-09-30 18:07] Ryuno-Ki commented on #77
If you want to go the JSDoc route, I recommend reading through https://gils-blog.tayar.org/posts/jsdoc-typings-all-the-benefits-none-of-the-drawbacks/

That being said, some aspects (like tuples) cannot be expressed in JSDoc (I tried!).

Also note, that `@type {import('../path/to/other/module.js).ExportedExpression}` cannot be processed by JSDoc itself.
But it allows to use type definitions made e

[2022-10-03 09:53] fershad commented on #77
Thanks for this @Ryuno-Ki. I'll give it a read later this week.

[2022-10-03 12:28] mrchrisadams commented on #97
OK. I've added the disclaimer and information about the new bundled data. I'm closing this now, which should closed off the next milestone.

[2022-10-03 12:28] #97 closed

[2022-10-03 13:33] mrchrisadams opened #108 "Big increase in npm package size"
We seem to have a muuuch bigger bundle size than before, and I am not sure what caused it.

It would be nice to not have this, and I suspect this is related to bundling some more data into the library by default.

It would be useful to see how people are using it, and which parts it might make sense to strip out to keep the npm bundle size reasonable.

[2022-10-03 13:52] soulgalore commented on #108
Hi @mrchrisadams is that the main branch? I did try with running `npm pack` and it looks like `data/fixtures` are included. I think adding `data/fixtures` to _.npmignore_ will fix that.

[2022-10-03 14:00] Ryuno-Ki commented on #108
Alternatively, be explicit by using [files property in package.json](https://docs.npmjs.com/cli/v6/configuring-npm/package-json#files).

[2022-10-03 16:38] michael-voit opened #109 "Change values like PERCENTAGE_OF_DATA_LOADED_ON_SUBSEQUENT_LOAD"
I have seen in the [\src\sustainable-web-design.js](https://github.com/thegreenwebfoundation/co2.js/blob/main/src/sustainable-web-design.js) that I can use a number for the carbon intensity instead of just true or false with perByte and perVisit. So I can get more accurate data if I know in which country a server resides, right? So if I know the server is not green and sits in Germany I would put

[2022-10-03 16:43] mrchrisadams commented on #108
ah, thanks @soulgalore  - I was hunting around for the command to see the generated package, and `npm pack` was exactly the thing I was after.

Also, yikes:

[code]

Yeah, it was indeed the fixtures, but there are a few other culprits there:

[code]

This looks like it would indeed be an easy fix to change the `.npmignore` file slightly

[2022-10-03 20:17] michael-voit opened #110 "After update to 0.11.0 API stopped working (on node.js)"
Hey there. I tested to updated from 0.10.4 to 0.11.0. We use the npm library in a node.js tool and check domains via the API with it. With 0.10.4 it worked without any problems. With 0.11.0 I get the error "ReferenceError: fetch is not defined". So I had a look in the code and saw that with this version you changed to "fetch" in the src/hosting-api.js in lines 16 and 28.

fetch is not a part of no

[2022-10-03 21:37] mrchrisadams commented on #110
hi @michael-voit

Can you let me know if you're importing the `index.js` or `index-node.js`?

We did split the two recently, so that commonjs, `require` pulls in the node focussed  library, and the import defaults to the newer fetch API, that is in more recent versions of node hs.

You can see in the package.json here - we use the node option on line 5

https://github.com/thegreenwebfoundation/co2

[2022-10-03 23:59] michael-voit commented on #110
@mrchrisadams
Thank you Chris!

We do `const greenerweb = require('@tgwf/co2');` at the top of the file. So it should be the right way...

Later we do `domainIsGreen[domain] = await greenerweb.hosting.check(domain);`

...

[2022-10-04 00:06] michael-voit commented on #110
So if I understand the concept right after your very good structured answer and a few minutes of looking in it, with pulling in the library via "require" it "starts" with index-node.js. So there should be hosting-node.js be used instead of hosting.js.

https://github.com/thegreenwebfoundation/co2.js/blob/main/src/index-node.js#L2

`import hosting from "./hosting-node.js";`

instead of

`import hos

[2022-10-04 01:12] fershad commented on #109
@michael-voit this is definitely something we're looking to make possible. We'd like to create a nice API to make these adjustments possible while still providing sensible fallbacks.

It would probably be a two part job in terms of implementation. Allowing some of the Sustainable Web Design assumptions (like `PERCENTAGE_OF_DATA_LOADED_ON_SUBSEQUENT_LOAD`) would probably be where we'll start. After

[2022-10-04 03:18] fershad opened #111 "Remove data source from filenames"
To remove any possible confusion around the publishing of grid intensity data by The Green Web Foundation in this project, filenames should be made generic, and output should not include a reference to the source.

[2022-10-04 03:49] fershad commented on #111
![](https://github.trello.services/images/mini-trello-icon.png) [v0.11.1 of CO2.js](https://trello.com/c/W8LMmE4G/78-v0111-of-co2js)

[2022-10-06 07:59] mrchrisadams commented on #110
Oh cripes, good catch @michael-voit, that is indeed correct.

If you we to make a PR makign that change, we'd love to add your to the list of contributors, to put into the next patch release.

Especially given it's Hacktoberfest.

👍 ?

[2022-10-07 08:08] mrchrisadams opened #114 "Updated 'users of CO2.js' in our docs"
We know more folks are using CO2.js in their  own software.

It would be great to list them in the repo or the docs

[2022-10-07 08:32] mrchrisadams opened #115 "Test compatibility of CO2.js in with other js runtimes"
One of the goals we had for CO2.js, and one of the reasons we invested a bunch of time in making it work as a hybrid library was to support a wide number of runtimes.

We currently support the nodejs runtime, and most modern browsers, but there are other runtimes that use javascript too.

Some examples below:

- [Appscript](https://www.google.com/script/start/) - Google has some limited support fo

[2022-10-07 08:42] mrchrisadams opened #116 "Document release process better for pushing changes to NPM"
Right now, we use the tool np to automate some of the steps for publishing code to npm.

I don't think I fully understand how the version numbers are updated in the source code compared to on npm, and it has lead to a few confused releases of new code to npm, like with a recent shortlived push of what would have been a patch release
taking us to 0.11.1 causing a deploy of 0.10.5.

This issue is to

[2022-10-07 09:07] #111 closed

[2022-10-07 09:25] fershad commented on #108
@mrchrisadams I noticed you changed the `.npmignore` in [d1717a7](https://github.com/thegreenwebfoundation/co2.js/commit/d1717a7cdf881c47edc1b85dbde948513805a8da). However, when publishing the patch today the size is still huge. A small change to the `.npmignore` file should get us back down to ~500kb:

[code]

[2022-10-07 10:19] fershad commented on #114
Realised that I also have a similar issue open in the docs repo.
https://github.com/thegreenwebfoundation/developer-docs/issues/8

[2022-10-07 14:14] mrchrisadams commented on #114
Good point. Let's close this one and and use that as the canonical one we refer to. We can always update this every few months if need be.

[2022-10-11 11:58] fershad commented on #108
Merged in #117 and released in v0.11.2.

[2022-10-12 02:14] fershad commented on #115
Re: Deno - They are planning to have more seamless NPM & Node interoperability in the next couple of months.
https://deno.com/blog/changes#compatibility-with-node-and-npm

[2022-10-12 04:43] #114 closed

[2022-10-13 04:19] fershad commented on #110
@michael-voit we've released a patch for this https://github.com/thegreenwebfoundation/co2.js/releases/tag/v0.11.3

[2022-10-28 11:39] michael-voit commented on #110
Perfect! Thanks everyone! :) I had no time to do that myself, otherwise I would have made my first PR to this wonderful library!

[2022-10-28 11:39] #110 closed

[2022-10-31 15:33] mrchrisadams opened #119 "Update Sustainable Web Design Model to Version 4"
Since the SWD model was worked into this library, new data and reports from DIMPACT, the IEA, Ember and Cisco systems have been published, many of which provide new top level numbers for total energy use, total transfer and so on.

This issue is a placeholder to check the original numbers in the SWD model, as well as confirm if they were using the 1024 based figure of gibibytes (often used for sto

[2022-11-14 14:01] fershad commented on #115
Untested yet, but we should be good in Deno  as of 1.28

https://deno.com/blog/v1.28

[2022-11-14 15:54] JayBox325 opened #120 "Add the ability to pass custom % of returning visitors with perVisit"
Not all sites have the same returning visit percentages and with Analytics, a user may be able to provide their exact % of returning visitors to create a more accurate estimate for their platform.

[2022-11-15 03:07] fershad commented on #120
Thanks @JayBox325. You are referring to the figures used in the Sustainable Web Design model, correct? This is similar to what's been raised in #109, so if it's okay I'll close this issue & we can track the discussion in #109.

Right now, you can modify the source code & rebuild the library if you need to change values of returning visitors for a particular site. That still leaves it as a constant

[2022-11-15 10:11] JayBox325 commented on #120
Hi, thanks for getting back to me. Yeah, so the SWD model uses 25% returning visitors to calculate it's estimate. I'm  building a data size transfer auditor to learn how to use CO2js and I'm ending with this when I run my audit:

[code]

So the `auditConfig` is the users' selection on the form where they add a size in KB then choose a country for it's intensity. Then I'm passing these to the perVi

[2022-11-22 12:20] ceddlyburge commented on #2
Is it worth changing CO2_PER_KWH_IN_DC_GREEN from 0 to 50, which is used by websitecarbon (https://sustainablewebdesign.org/calculating-digital-emissions/) and comes from this study by NREL (https://www.nrel.gov/docs/fy13osti/57187.pdf).

The Ember data explorer also used to be able to show a global clean energy carbon intensity figure, but it isn't available any more. Last time I saw it, it was a

[2022-11-29 21:05] mishushakov opened #121 "Reduce package size"
We're only using co2.js for calculating emissions, thus don't need the full 430 kB package
Would be amazing if you could split the database and the calculator into separate sub-packages

[2022-11-30 01:30] fershad opened #122 "Move debug to devDependencies"
Currently the `debug` package is shipped as a project dependency. It looks as though it is being used to sanity check results in from the hosting checks.

Could these be moved out to another file, a test, or put behind a flag? In that way, we can move `debug` into `devDependencies` and reduce the package size for this library.

[2022-11-30 15:49] mrchrisadams commented on #122
Does it reduce the size by much ?

I was under the impression that debug was quite a small library, and being able to switch on debugging turns out to be quite helpful.

To be fair it we might not need as much as before - if we having some newer updated tests might make it easier to let of it.